body{
    background-color: rgb(210, 226, 182);
    position:relative;
    margin:0;
    padding:0;
    justify-content: center;
    align-items: center;
    background:rgb(194, 248, 248);
    min-height: 100vh;
    display:flex;
}
label,input{
    display:block;
}

.form-holder{
    border: 2px solid black;
    padding:1rem;
    border-radius: 1rem;
    background-color: rgb(175, 111, 132);
    box-shadow: 1rem;
    position: absolute;
    left:40vw;
    top:40vh;
}
.admin-control{
    display:block;
}
form{
    border:2px solid black;
    padding:1rem;
    border-radius: 1rem;
    background-color: rgb(175, 111, 132);
    box-shadow: 1rem;
}
#display-container{
    display:none;
    background-color:rgb(109, 109, 201);
    width:min-content;
    flex-grow:1;
}
#display-content{
    right:0;
    flex-grow:2;
    padding:1rem;
}
table,th,tr,td{
    border:thin solid black;
    border-collapse: collapse;
}
.modal-holder{
    position: absolute;
    right:2px;
}
.modal-container{
    display:none;
}